.DS_Store
node_modules/
dist/
npm-debug.log
yarn-error.log
test/unit/coverage
test/e2e/reports
selenium-debug.log
smart/.metadata
src/hal/devBoxConfig.json
config/private.json
config/wrapper.conf.json
config/wrapper.prodConf.json
.vscode
debug.log
/nbproject/private/
/nbproject
/.vs
